/* 
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    align-content: center;
} */
body{
    width: 800px;
    margin: 0 auto; 
    margin-top: 50px;

}
.description-character{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    width: 100%; 
    align-items: center;
  font-size: 15px;
  gap: 18px;
}