    <body>
        <main>
            <div *ngFor="let item of resultados.results" class="image-container-personajes">

                <img [src]="item.image" alt="Personaje">

                
                <div class="container">
                  <h4><b>{{item.name}}</b></h4>
                  <p>Status: {{item.status}}</p>
                  <p>Species: {{item.species}}</p>
                  <p>Location: {{item.location.name}}</p>

                  <button onclick="description()">Mas información</button>
                  

                  <!-- <button class="button button-clear icon ion-start button-assertive"
                          ng-click="toggleStar(item)"
                          ng-show="item.star">
                  </button> -->

                  <!-- <ion-option-button class="button-dark"
                          ng-click="toggleStar(item)">
                          <i class="icon ion-star"></i>
                  </ion-option-button> -->

                </div>
              </div>
        </main>
    </body>
    
    